<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="linkedinLite" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="linkedinLite" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="linkedinLite" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="linkedinLite" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ke Nguyen Phu | Linkedin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <link rel="icon" href="images/favicon.ico" type="icon/x-image">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<header>
    <div id="cover-photo"></div>
</header>

<div id="container">
    <div ng-controller="ProfileCardCtrl" class="top-profile-card">
        <div class="profile-card">
            <div class="proflie-picture">
                <img src="{{profileCard.avatar}}">
            </div>

            <div class="profile-overview">
                <div class="profile-overview-content">
                    <div class="masthead">
                        <div class="account-icon"></div>

                        <div class="basic-info">
                            <h1>{{profileCard.firstName + ' ' + profileCard.lastName}} <i class="edit-field-icon"></i></h1>
                            
                            <p class="headline-title">
                                {{background.experience[0].title + ' at ' + background.experience[0].company}}
                                <i class="edit-field-icon"></i>
                            </p>
                            <div class="location-container">
                                <a href="#" class="location">{{profileCard.location}}</a> |
                                <a href="#" class="industry">{{profileCard.industry}}</a>
                                <i class="edit-field-icon"></i>
                            </div>
                        </div>
                    </div>

                    <table class="overview">
                        <tbody>
                        <tr>
                            <td class="overview-time">Current</td>
                            <td>
                                <ul>
                                    <li ng-repeat="exp in background.experience | limitTo:3">
                                        <a href="#">{{exp.company}}{{$last ? ' ' : ', '}}</a>
                                    </li>
                                    <i class="edit-field-icon"></i>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td class="overview-time">Previous</td>
                            <td>
                                <ul>
                                    <li  ng-repeat="exp in background.experience | limitTo:3:3">
                                        <a href="#">{{exp.company}}{{$last ? ' ' : ', '}}</a>
                                    </li>
                                    <i class="edit-field-icon"></i>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td class="overview-time">Education</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="#">{{background.education[0].school}}</a>
                                    </li>
                                    <i class="edit-field-icon"></i>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="profile-aux">
                    <div class="profile-actions">
                        <div class="follow-action">
                            <button class="follow-btn">Follow</button>
                            <button class="drop-caret">
                                <span class="caret">More options</span>
                            </button>
                        </div>

                        <div class="connect-action">
                            <p>Know {{profileCard.firstName}}?</p>
                            <a href="#">Connect</a>
                        </div>
                    </div>

                    <div class="follower-count">
                        <strong>{{profileCard.followers | number:0}}</strong>followers</div>
                </div>
            </div>
        </div>
        <div id="contact-info-container" class="contact-info-more">
            <table>
                <tbody>
                    <tr class="twitter">
                        <th>Twitter</th>
                        <td><a href="#">{{profileCard.twitter}}</a></td>
                    </tr>
                    <tr class="website">
                        <th>Website</th>
                        <td><a href="#">{{profileCard.website}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="profile-card-extra">
            <div class="public-profile">
                <a class="view-public-profile" href="https://www.linkedin.com/in/{{profileCard.publicProfile}}">
                    https://www.linkedin.com/in/{{profileCard.publicProfile}}
                </a>
            </div>
            <div class="contact-info">
                <a id="show-info" href="#" class="contact">Contact Info</a>
            </div>
        </div>
    </div>

    <div ng-controller="BackgroundCtrl" id="background" class="profile-background">
        <h2>Background</h2>
        <div class="background-content">
            <div id="background-summary-container" class="background-section">
                <div class="summary-header">
                    <h3>Summary</h3>
                </div>
                <div class="summary-content">
                    <p ng-bind-html="background.summary"></p>
                    <i class="edit-field-icon edit-summary"></i>
                </div>
            </div>

            <div id="background-experience-container" class="background-section">
                <div class="experience-header">
                    <h3>Experience</h3>
                </div>

                <div class="experience-container">
                    <div ng-repeat="exp in background.experience" class="experience">
                        <div class="experience-header">
                            <div class="header-left">
                                <h4><a href="#">{{exp.title}}</a></h4>
                                <h5><a href="#">{{exp.company}}</a></h5>

                                <div class="experience-date-location">
                                    <span class="experience-date">
                                        {{exp.date}}
                                    </span>
                                    <span ng-if="exp.location" class="experience-location">
                                       | {{exp.location}}
                                    </span>
                                </div>
                            </div>
                            <div class="header-right">
                                <h5 ng-if="exp.logo" class="experience-logo">
                                    <a href="#"><img src="{{exp.logo}}"></a>
                                </h5>
                            </div>
                        </div>
                        <div ng-bind-html="exp.description" class="experience-summary">
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="background-project-container" class="background-section">
                <div class="project-header">
                    <h3>Projects</h3>
                </div>
                
                <div class="project-container">
                    <div ng-repeat="project in background.projects" class="project-view">
                        <h4>{{project.name}}</h4>
                        <h5>{{project.date}}</h5>
                        <p>{{project.description}}</p>
                        <div class="project-team">
                            <span>{{project.members.length}} team members, including:</span>
                            <ul class="team-list">
                                <li ng-repeat="mem in project.members" class="project-member">
                                    <a href="#"><img src="{{mem.avatar}}"></a>
                                    <div class="member-info">
                                        <h5><a href="">{{mem.name}}</a></h5>
                                        <h6>{{mem.headline}}</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div id="background-volunteering-container" class="background-section">
                <div class="volunteering-header">
                    <h3>Volunteer Experience & Causes</h3>
                </div>

                <div class="volunteering-opportunities">
                    <h4>Opportunities Jeff is looking for:</h4>
                    <ul>
                        <li ng-repeat="opportunity in background.volunteering.opportunities">{{opportunity}}</li>
                    </ul>
                </div>

                <div class="volunteering-interests">
                    <h4>Causes Josh cares about:</h4>
                    <ul>
                        <li  ng-repeat="interest in background.volunteering.interests">{{interest}}</li>
                    </ul>
                </div>
            </div>

            <div id="background-skills-container" class="background-section">
                <div class="skills-header">
                    <h3>Skills</h3>
                </div>

                <div class="skills-item">
                    <h5>Top Skills</h5>
                    <ul class="skills-section">
                        <li ng-repeat="skill in background.skill | orderBy:'endorseCount':true | limitTo:10 ">
                            <span class="skill-pill">
                                <span class="endorse-count">{{skill.endorseCount}}</span>
                                <span class="endorse-item-name">{{skill.name}}</span>
                            </span>

                            <div class="endorsers-container">
                                <ul class="endorsers-pics">
                                    <li></li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <h5>Jeff also knows about...</h5>
                    <ul class="skills-section more-skill">
                        <li ng-repeat="skill in background.skill | orderBy:'endorseCount':true | limitTo:background.skill.length : 10">
                             <span class="skill-pill">
                                <a href="#" class="endorse-count">{{skill.endorseCount}}</a>
                                <span class="endorse-item-name">{{skill.name}}</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="background-education-container" class="background-section">
                <div class="education-header">
                    <h3>Education</h3>
                </div>

                <div class="education-container">
                    <div ng-repeat="edu in background.education"  class="education-first">
                        <div class="header-left">
                            <h4><a href="#">{{edu.school}}</a></h4>
                            <h5>
                                <span class="degree">{{edu.degree}}</span>
                                <a href="#" class="major">{{edu.major}}</a>
                            </h5>
                            <span class="education-date">{{edu.date}}</span>
                        </div>

                        <div ng-if="edu.logo" class="header-right">
                            <a href="#"><img class="education-logo" src="{{edu.logo}}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="app.js"></script>
<script src="js.js"></script>
<script src="controllers.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
